<!-- Определяем navbar с сайта materiallize -->
 <nav class="blue darken-4"> 
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">TodosILS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!--Ссылка на главную страницу -->
        <li><a href="/">Todos</a></li>
        <!--Ссылка на страницу для создания дел -->
        <li><a href="/create">Create</a></li>
      </ul>
    </div>
  </nav>