<!--Обращаемся к шаблону hbs, чтобы отобразить head.hbs -->
{{> head}}

<body>
    <!-- Подключаем Обращаемся к шаблону hbs, чтобы отобразить navbar.hbs -->
    {{> navbar}}

    <div class="container">
        <!--Пишем строчку для рендеринга страницы в это место -->
        {{{ body }}}
    </div>
</body>
</html>